__pycache__
/core
build
install
/recordings
log
docs/_site
.vscode
.jekyll-cache
*.weights
*.csv
.jekyll-cache
meters_to_gnss_degrees.py
data/maps/grand_loop/carlaMapAdjust3.xodr
data/maps/grand_loop/grand_loop_medium.pcd
*.bt
*.pyc
trace*

rosbag2*