/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

/* Global styles */
:root {
	--color-primary: #272727;
	--color-secondary: #ffffff;
}

* {
	font: 400 16px 'Roboto Mono';
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
