<launch>

  <node pkg="pcl_tf_frame" type="frame_broadcaster" name="broadcaster_dynamic" output="screen" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="AggregatePoints" args="load lidar_pkg/AggregatePoints standalone_nodelet" output="screen">
    <remap from="/AggregatePoints/agg_points" to="MrfGroundSeg/agg_points"/> -->
  </node>

  <node pkg="nodelet" type="nodelet" name="MrfGroundSeg" args="load lidar_pkg/MrfGroundSeg standalone_nodelet" output="screen">
    <remap from="/MrfGroundSeg/mrf_filtered_points" to="OccupancyGridGeneration/mrf_filtered_points"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="OccupancyGridGeneration" args="load lidar_pkg/OccupancyGridGeneration standalone_nodelet" output="screen">
    <remap from="/OccupancyGridGeneration/occupancy" to="InferenceTorch/occupancy"/>
    <remap from="/OccupancyGridGeneration/masses" to="InferenceTorch/masses"/>
  </node>

 <node pkg="nodelet" type="nodelet" name="InferenceTorch" args="load lidar_pkg/InferenceTorch standalone_nodelet" output="screen">
    <remap from="/InferenceTorch/prediction_all" to="Visualize/prediction_all"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="Visualize" args="load lidar_pkg/Visualize standalone_nodelet" output="screen">
  </node>

</launch>
