# Automatically build and test all packages in our workspace
name: Build and Test

on: pull_request

jobs:
  build_and_test:
    runs-on: [self-hosted]
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Enter Workspace
        run: |
          cd $GITHUB_WORKSPACE
          echo Workspace directory: $(pwd)

      - name: Build Navigator using latest Docker image
        run: sh docker.sh && "apt update && apt install -y ros-foxy-rmw-cyclonedds-cpp && colcon build --cmake-clean-cache"
